pre.sf-dump {
	font-family : 'fira code' !important;
	direction   : ltr !important;
	text-align  : left;
	text-shadow : none;
}

pre.sf-dump::selection {
	background-color : #F5F5F5;
	color            : #1A1A1A;
	text-shadow      : none;
}

pre.sf-dump::-moz-selection {
	background-color : #F5F5F5;
	color            : #1A1A1A;
	text-shadow      : none;
}

pre.sf-dump .sf-dump-default {
	direction  : ltr !important;
	text-align : left;
}

pre.sf-dump .sf-dump-note {
	color     : #1299DA;
	font-size : 12px;
}

.sf-dump * {
	line-height : 16px;
	font-size   : 11px;
	font-family : 'fira code' !important;
}