@font-face {
    font-family: 'FiraCode';
    src: url('https://dl.natilos.ir/ffff/FiraCode-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

strong,.ds-markdown p,.token.comment,h1,h2,h3,h4,h5,h6,.fbb737a4,.cefa5c26 .c92459f0, .c08e6e93, .ds-tooltip{
    font-family: 'iransans' !important;
}

:root {
    --message-list-max-width: 870px !important;
}
.b699646e {
    opacity: 0.8;}
.cbcaa82c, .cefa5c26 {
background-color: transparent!important;}

.cefa5c26 .c92459f0, .dad65929{
width: 99% !important;
}

.f9bf7997{padding-left:0px !important;}

.md-code-block,.md-code-blockfira,.token {
text-align: left;
direction: ltr;
font-family: 'FiraCode';
}
.eb23581b, .a1e75851, .be88ba8a,.e886deb9,.fcaa63f8 ,.ebaea5d2{
display: none!important;
}

.cbcaa82c{
bottom: 8px;
}