@font-face {
    font-family: 'FiraCode';
    src: url('https://dl.natilos.ir/ffff/FiraCode-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'iransans' !important;
}

.cefa5c26 .c92459f0{
    margin-left: -9px !important;
}

.md-code-block,.md-code-blockfira,.token {
    direction: ltr;
    font-family: 'FiraCode';
}
.a1e75851,.be88ba8a,.e886deb9,.fcaa63f8 ,.ebaea5d2{
    display: none!important;
}

.cbcaa82c{
    bottom: 8px;
}