* {
    font-family: 'iransans' !important;
}

.V9tjod .LC20lb, .DKV0Md, .Z3xoIb, .xvfwl, .qv3Wpe, .XRsWPe, .LC20lb, .MBeuO, .xvfwl, .toI8Rb, .OSrXXb {
    font-size: 18px !important;
}

.toI8Rb, .OSrXXb {
    font-size: 14px !important;
}