.prose :where(h3):not(:where([class~=not-prose],[class~=not-prose] *)), .break-words {
    font-family: 'iransans' !important;
}

code, kbd, pre, samp, code {
    text-align: left !important;
    direction: ltr !important;
    font-family: 'Fira Code' !important;
    font-feature-settings: "calt" 1 !important;
    font-variant-ligatures: contextual-alternates !important;
    text-rendering: optimizeLegibility !important;
}

.dark\:text-orange-200:is(.dark *), .not-prose, .not-prose *, .font-mono {
    direction: ltr !important;
    text-align: left !important;
    font-family: 'Fira Code' !important;
    unicode-bidi: embed;
    font-feature-settings: "calt" 1 !important;
    font-variant-ligatures: contextual-alternates !important;
    text-rendering: optimizeLegibility !important;
}

.w-full.max-w-3xl {
    max-width: 1000px !important;
    width: 1000px !important;
}

.bg-background {
    background: none !important;

}

div.relative.w-full.sm\:px-5.px-2.pb-2.sm\:pb-4 {
    padding-bottom: 0 !important;
}