@font-face {
    font-family: 'FiraCode';
    src: url('https://dl.natilos.ir/ffff/FiraCode-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.md-code-block,.md-code-blockfira {
    direction: ltr;
    font-family: 'FiraCode' !important;
}
.be88ba8a,.e886deb9,[data-ds-dark-theme] .fcaa63f8{
    display: none!important;
}

.f9bf7997,.fbb737a4{
    direction: rtl
}
.cbcaa82c{
    bottom: 8px;
}