@font-face {
    font-family: 'FiraCode';
    src: url('https://dl.natilos.ir/ffff/FiraCode-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.skill-toolbar--vTMzE,.chat-toolbar--P42Bd{
    display: none!important;
}

pre {
    direction: ltr;
    font-family: 'FiraCode' !important;
}